
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Laravel</title>

        <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
        <div class="flex-center position-ref full-height">
            <div class="content">
                <div class="title m-b-md">
                    Abc Xyz
                </div>
                <div class="form-name">
					<div class="">
						<form class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" id="" placeholder="Enter Your Name..." required data-ng-model="name">
							</div>
							<button type="submit" class="btn btn-primary" data-ng-disabled="!name" data-ng-click="insertPlayer()">Play</button>
						</form>
					</div>
				</div>
            </div>
        </div>
    </body>
</html>

