<div class="container text-center">    
	<div class="row content">
		<div class="col-sm-12 text-left"> 
			<h1 class="text-center">
				Ranking
			</h1>
			<hr>
			<div class="row list-room">
				<div class="col-md-6 col-md-offset-3">
					<ul class="list-group ranking">
						<li class="list-group-item no-1">
							1. New 
							<span class="badge">12</span>
						</li>
						<li class="list-group-item no-2">
							2. Deleted 
							<span class="badge">5</span>
						</li> 
						<li class="list-group-item no-3">
							3. Warnings 
							<span class="badge">3</span>
						</li> 
						<li class="list-group-item no-4">
							4. Warnings 
							<span class="badge">3</span>
						</li> 
						<li class="list-group-item no-4">
							5. Warnings 
							<span class="badge">3</span>
						</li> 
						<li class="list-group-item no-4">
							6. Warnings 
							<span class="badge">3</span>
						</li> 
						<li class="list-group-item no-4">
							7. Warnings 
							<span class="badge">3</span>
						</li> 
						<li class="list-group-item no-4">
							8. Warnings 
							<span class="badge">3</span>
						</li> 
						<li class="list-group-item no-4">
							9. Warnings 
							<span class="badge">3</span>
						</li> 
						<li class="list-group-item no-4">
							10. Warnings 
							<span class="badge">3</span>
						</li> 
					</ul>
					<p class="text-center">
						<a href="" class="btn btn-success">
							<span class="glyphicon glyphicon-play"></span>
							Continue
						</a>
						<a href="" class="btn btn-default">
							Quit
						</a>
					</p>
				</div>
			</div>
			
		</div>
	</div>
</div>